<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="username">Username:</label>
    <input type="text" name="username" formControlName="username" required>
  
    <label for="password">Password:</label>
    <input type="password" name="password" formControlName="password" required>
    <button type="submit">Submit</button>
</form> -->

<div class="login-container bg-image">
    <h1>Login</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" #fform="ngForm">
      <div class="form-group">
        <label for="username" style="font-family:' Verdana, Arial, Helvetica, sans-serif';">Username</label>
        <input type="text" formControlName="username" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password" style="font-family:' Verdana, Arial, Helvetica, sans-serif';">Password</label>
        <input type="password" formControlName="password" placeholder="password">
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Log In</button><br>
      <button class="new-user-button" (click)="redirectToSignUp()">New User</button>
    </form>
</div>
  